/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */
//Breakpoints
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1400px; 

 // COLOURS
$dark: #000; // Black
$light: #F9F7F7; // Near White

// Blue Theme colors
$colorset1: #3F72AF; // Blue
$colorset2:  #112D4E; // Dark Navy
$colorset3: #DBE2EF; // Light Blue

// WIDTHS
$fullwidth: 100%;

//Fonts
$headerFont: 'Droid Sans', sans-serif;;
$mainFont: 'Ubuntu Condensed', sans-serif;;

